<!DOCTYPE html>
<html ng-app="loja">

<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<title>AngularJS - Recursos</title>
<script type="text/javascript" src="../resources/js/angular.min.js"></script>
<script type="text/javascript" src="../resources/js/angular-route.js"></script>
<script type="text/javascript" src="../resources/js/angular-resource.js"></script>
<script type="text/javascript" src="../resources/js/angular-animate.js"></script>
<script type="text/javascript" src="../resources/js/angular-locale_pt-br.js"></script>
<script type="text/javascript" src="../resources/js/animacaoController.js"></script>
<script type="text/javascript" src="../resources/js/primeiroController.js"></script>

<body id="corpo">

	<div>
		<label>Pesquisar: <input type="text" ng-model="criteria"></label>
	</div>
	
	<div  ng-controller="filterController">
		<table>
			<thead>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Idade</th>
			</thead>
			<tbody>
				<tr ng-repeat="friend in resultado = ( friends | filter:{name:criteria} )">
					<td>{{friend.name}}</td>
					<td>{{friend.lastname}}</td>
					<td>{{friend.age}}</td>
				</tr>
			</tbody>
		</table>
		<h1>Total de friends: {{resultado.length}}</h1>
	</div>

</body>
</html>